{% extends 'template/master.twig' %}
{% block customcss %}
    <!-- Custom CSS -->
    {% include 'template/login/login-css.partial.twig' %}
{% endblock %}

{% block title %}
    {{ lang('login')['title'] }}
{% endblock %}

{% block component %}
    {% block content %}
        <form name="login" action="" method="post" class="form-signin" novalidate>
            <a href="#">
                <img src="{{ base_url }}/img/nightlight.png" alt="Nightlight">
            </a>
            <h2 class="form-signin-heading">{{ lang('login')['heading'] }}</h2>

            {% if message %}
                <div class="form-signin-heading small text-danger">
                    {{ message | striptags | nl2br }}
                </div>
            {% endif %}
            <fieldset id="login">
                <input type="hidden"
                       name="{{ csrf_name}}"
                       value="{{ csrf_hash }}"
                >
                <div>
                    <label for="email" class="sr-only">{{ lang('login')['email'] }}</label>
                    <input type="email"
                           name="email"
                           id="email"
                           class="form-control"
                           placeholder="{{ lang('login')['email'] }}"
                           required
                           autofocus
                    >
                </div>
                <div>
                    <label for="password" class="sr-only">{{ lang('login')['password'] }}</label>
                    <input type="password"
                           name="password"
                           id="password"
                           class="form-control"
                           placeholder="{{ lang('login')['password'] }}"
                           required
                    >
                </div>
                <div>
                    <input type="submit"
                           name="submit"
                           value="{{ lang('login')['login-button'] }}"
                           class="btn btn-lg btn-primary btn-block"
                    >
                </div>
            </fieldset>
            <a href="{{ site_url() }}" class="btn btn-lg btn-block">{{ lang('login')['return'] }}</a>
        </form>
    {% endblock %}
{% endblock %}
