{% extends 'template/website/website.partial.twig' %}
{% block title %}
    {{ lang('homepage')['title'] }}
{% endblock %}

{% block facebooksdk %}
    {% include 'template/website/facebook.partial.twig' %}
{% endblock %}

{% block content %}
        <main>
            <!-- Intro -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ lang('homepage')['heading'] }}</h1>
                </div>
                <div class="col-md-3">
                    <a class="twitter-timeline" href="https://twitter.com/AberNightline" data-height="500px">{{ lang('homepage')['twitter-heading'] }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-md-6">
                    <h2>{{  lang('homepage')['subheading'] }}</h2>
                    <p>{{  lang('homepage')['p1'] }}</p>
                    <p>{{ lang('homepage')['p2'] }}</p>
                    <p>{{ lang('homepage')['p3'] }}</p>
                    <p>{{ lang('homepage')['p4'] | raw}}</p>
                    <h3>{{ lang('homepage')['p5'] }}</h3>
                </div>
                <div class="col-md-3">
                    <div class="fb-page" data-href="https://www.facebook.com/abernightline" data-tabs="timeline" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/abernightline" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abernightline">Aberystwyth Nightline</a></blockquote></div>
                </div>
                <!-- Services -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">{{ lang('homepage')['need-to-talk'] }}</h2>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                    <span class="fa-stack fa-5x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                                    </span>
                            </div>
                            <div class="panel-body">
                                <h4>{{ lang('homepage')['box-one-title'] }}</h4>
                                <p>{{ lang('homepage')['box-one-content'] }}</p>
                                <a href="#" class="btn btn-primary">{{ lang('homepage')['box-one-button'] }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                    <span class="fa-stack fa-5x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                                    </span>
                            </div>
                            <div class="panel-body">
                                <h4>{{ lang('homepage')['box-two-title'] }}</h4>
                                <p>{{ lang('homepage')['box-two-content'] }}</p>
                                <a href="#" class="btn btn-primary">{{ lang('homepage')['box-two-button'] }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                    <span class="fa-stack fa-5x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                                    </span>
                            </div>
                            <div class="panel-body">
                                <h4>{{ lang('homepage')['box-three-title'] }}</h4>
                                <p>{{ lang('homepage')['box-three-content'] }}</p>
                                <a href="#" class="btn btn-primary">{{ lang('homepage')['box-three-button'] }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Action -->
                <div class="well">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>{{ lang('homepage')['feedback-title'] }}</strong></p>
                            <p>{{ lang('homepage')['feedback-content'] }}</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-lg btn-default btn-block" href="#">{{ lang('homepage')['feedback-button'] }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">{{ lang('nav')['home'] }}</a></li>
                <li class="active">{{  lang('homepage')['title'] }}</li>
            </ol>
        </main>
{% endblock %}
