{% extends 'template/website/website.partial.twig' %}
{% block title %}
    {{ lang('what-is-nightline')['title'] }}
{% endblock %}

{% block facebooksdk %}
    {% include 'template/website/facebook.partial.twig' %}
{% endblock %}

{% block content %}
    <main>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ lang('what-is-nightline')['heading'] }}</h1>
                <h3 class="page-header">{{ lang('what-is-nightline')['history-heading'] }}</h3>
                <p>{{ lang('what-is-nightline')['history-p1'] }}</p>
                <p>{{ lang('what-is-nightline')['history-p2'] }}</p>

                <h3 class="page-header">{{ lang('what-is-nightline')['important-heading'] }}</h3>
                <p>{{ lang('what-is-nightline')['important-p1'] }}</p>
                <ul>
                    <li>{{ lang('what-is-nightline')['important-li1'] }}</li>
                    <li>{{ lang('what-is-nightline')['important-li2'] }}</li>
                    <li>{{ lang('what-is-nightline')['important-li3'] }}</li>
                    <li>{{ lang('what-is-nightline')['important-li4'] }}</li>
                    <li>{{ lang('what-is-nightline')['important-li5'] }}</li>
                </ul>
                <p>{{ lang('what-is-nightline')['important-p2'] | raw }}</p>
                <p>{{ lang('what-is-nightline')['important-p3'] }}</p>
                <figure class="figure">
                    <img src="{{ base_url }}/img/spiral.png" class="img-responsive center-block" alt="{{ lang('what-is-nightline')['figure-alt'] }}">
                    <figcaption class="figure-caption text-center">{{ lang('what-is-nightline')['figure-caption'] }}</figcaption>
                    <br>
                </figure>
                <p>{{ lang('what-is-nightline')['important-p4'] | raw }}</p>
                <p>{{ lang('what-is-nightline')['important-p5'] }}</p>
                <p>{{ lang('what-is-nightline')['important-p6'] | raw }}</p>
                <p>{{ lang('what-is-nightline')['important-p7'] | raw}}</p>
            </div>
        </div>
        <ol class="breadcrumb">
            <li><a href="{{ base_url }}/home">{{ lang('nav')['home'] }}</a></li>
            <li><a href="#">{{ lang('nav')['about'] }}</a></li>
            <li class="active">{{ lang('nav')['what-is-nightline'] }}</li>
        </ol>
    </main>
{% endblock %}
